* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#container {
    background-color: darkslategrey;
    border: 10px solid darkslategrey;
    border-radius: 10px;
    width: 310px;
    height: 410px;
    margin: 200px 0 200px 0;
}

#display {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 10px 0 20px 0;
}

#display-screen {
    border: 3px solid black;
    background-color: darkgrey;
    border-radius: 10px;
    width: 100%;
    height: 85px;
}

#calculator-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: -3px;
    row-gap: 5px;
    align-items: center;
    justify-items: center;
}

.calculator-button {
    background-color: brown;
    font-size: 30px;
    font-weight: bold;
    display: grid;
    width: 95%;
    height: 50px;
    border: 2px solid black;
    box-shadow: 1px 1px 5px lightblue;
    border-radius: 20px;
    align-content: center;
    justify-content: center;
}