* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#container {
    background-color: darkslategrey;
    border: 10px solid darkslategrey;
    border-radius: 10px;
    width: 310px;
    height: 410px;
    margin: 200px 0 200px 0;
}

#display {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 10px 0 20px 0;
}

#display-screen {
    border: 3px solid black;
    background-color: darkgrey;
    border-radius: 10px;
    width: 100%;
    height: 85px;
}

#screen-number {
    height: 100%;
    font-size: 50px;
    font-family: 'Orbitron', sans-serif;
    text-align: end;
    margin-top: 5px;
    margin-right: 5px;
}

#calculator-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 5px;
    align-items: center;
    justify-items: center;
}

.calculator-button {
    background-color: brown;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
    display: grid;
    width: 95%;
    height: 50px;
    border: 2px solid black;
    border-radius: 20px;
    align-content: center;
    justify-content: center;
}

.clear {
    grid-column: 1 / 4;
}

.symbol,
.clear {
    background-color: black;
    color: brown;
}

.calculator-button:hover {
    background-color: black;
    color: brown;
}

.symbol:hover,
.clear:hover {
    background-color: brown;
    color: black;
}